<section  style="background-color:white;" id="login"> 
    <div class="container py-4 ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col col-xl-8">
          <div class="card" style="border-radius: 1rem;height: 500px;border:2px solid grey">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> -->
                   <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjEyfHxyZWFkaW5nJTIwYm9va3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" 
                    class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:83%">

                 
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
   
                  <form #userLogin="ngForm" (ngSubmit)="loginUser(userLogin.value)">
                  
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">B O O K E R O O</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4"> 
                      <label class="form-label" for="form2Example17">Username</label>  
                      <input type="text" id="form2Example17" class="form-control form-control-lg" name="username"  [(ngModel)]="user.username" required #uname="ngModel"/>
                      
                      <div>
                        <small *ngIf="uname.invalid && uname.touched">Username is required </small>
                      </div>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" [(ngModel)]="user.password" minlength="5" required #password="ngModel"/>
                      <label class="form-label" for="form2Example27">Password</label>
                      <div>
                        <small *ngIf="password.invalid && password.touched">Password is required </small>
                      </div>
                    </div>
  
                    <div class="pt-1 mb-3">
                      <button class="btn btn-dark btn-lg btn-block" type="button"  [disabled]="!userLogin.valid" (click)="loginUser(user)">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                        style="color: #393f81;" routerLink="/register">Register here</a></p>
                  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  
