#productlist{
    display: flex;
    justify-content: center;
    padding-top: 5%;
  
}
#products{
    min-height: 78vh;
    margin-top: 65px;
    margin-bottom: 10px;
}
#content{
    box-shadow: 5px 10px 18px #888888;
    background: rgb(29,205,191);
    background: linear-gradient(142deg, rgba(29,205,191,1) 2%, rgb(56, 8, 133) 100%);
}